<h3 class="text-yellow-950 font-semibold text-base sm:text-xl md:text-2xl p-3">Blog Post:</h3>
<div class="flex flex-col flex-wrap justify-center m-3 border-8 border-yellow-950 rounded-md">
  <h2 class="bg-yellow-950 text-lime-200 font-semibold text-base sm:text-xl md:text-2xl py-3">{{title}}</h2>
  <p class="font-semibold text-sm sm:text-lg md:text-xl m-1">{{description}}</p>
  <p class="font-semibold text-sm sm:text-lg md:text-xl m-1">Created by {{user.name}} on {{format_date date_created}}</p>
</div>

<div >
  <h3 class="text-yellow-950 font-semibold text-base sm:text-xl md:text-2xl p-3">Comment Section:</h3>
{{#each comments as |comment|}}
<div class="flex flex-col flex-wrap justify-center m-3 border-8 border-yellow-950 rounded-md">
  <p class="font-semibold text-sm sm:text-base md:text-lg m-0.5">{{comment.description}}</p>
  <p class="font-semibold text-sm sm:text-base md:text-lg m-0.5">Created by {{comment.user.name}} on {{format_date comment.date_created}}</p>
</div>
{{/each}}
</div>

<div class="flex flex-col flex-wrap justify-center content-center">
  <form class="form hidden m-1">
    <div class="form-group flex flex-col m-1">
      <label class="font-semibold text-sm sm:text-lg md:text-xl my-1 p-1" for="comment">Add Comment:</label>
      <input class="p-1 form-input" type="text" id="comment" data-id="{{id}}"/>
    </div>
    <div class="form-group grid m-1 mt-2">
      <button class='text-lime-200 bg-gray-500 rounded-md font-semibold text-sm sm:text-lg md:text-xl btn submitBtn p-1 m-1' type="submit">Submit Comment!</button>
    </div>
  </form>

  <p>
    <button class="add text-lime-200 bg-gray-500 rounded-md font-semibold text-sm sm:text-lg md:text-xl btn p-1 m-3" type="button">Add a Comment</button>
  </p>
</div>

<script src="../js/blog.js"></script>
